img {
    height: 300px;
    width: 300px;
}
img:hover {
    height: 500px;
    width: 500px;
    
}

body {
    background-image: url("bgimg.jpg");
    background-repeat: repeat-y;
   /*alapertelmezetten gordulo, nem kell ez: background-attachment: scroll; */
   background-size: 100%;

}