img {
    height: 300px;
    width: 300px;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

img:active {
    -webkit-transform:scale(2);
    transform: scale(2);
    
}


/* 1. pont */
body {
    background-image: url("bgimg.jpg");
    background-repeat: repeat-y;
   /*alapertelmezetten gordulo, nem kell ez: background-attachment: scroll; */
   background-size: 100%;

}

/* 2. pont */
p, em {
    color:brown;
    background-color: rgb(171, 240, 132);
    text-decoration: overline;
}

/* 3.pont */
ul.elsoul {
    list-style-type: circle;
    background:burlywood;
}

ul.elsoul li {
    background: grey;
    margin: 2px;
}

ul.masodikul {
    list-style-type: square;
    list-style-position: outside;
}

ul.masodikul li {
    background: yellow;
    padding: 5px;
}


/* 4. pont */
.negyedik {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-style: oblique;
    text-decoration: indigo;
}

/* 5. pont */
section h2 + p {
    color:red;
    font-size: smaller;
}

/* 6. pont */
a.aelso:hover, a.aelso:link{
    color:green;
    text-decoration: overline;
}

a.aelso:hover, a.aelso:visited {
    color:red;
    text-decoration: line-through;
}

a.aelso:hover,a.aelso:link {
    color: indigo;
    text-decoration: underline;
}

a.amasodik:hover,a.aelso:link {
    color:red;
    text-decoration: underline;
}

a.amasodik:hover,a.amasodik:visited {
    color:skyblue;
    text-decoration: overline;
}

a.amasodik:hover,a.amasodik:link {
    color: yellow;
    text-decoration: none;
}

/* 7. pont */

div {
    border-style: double;
    background-color: lightcoral;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
}

/* 8.pont */
#tablastilus {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    width: 100%;
}

#tablastilus td:first-child{
    text-align: left;
    border: 2px solid black;
    background-color: brown;

}

#tablastilus td, #tablastilus th {
    text-align: center;
    border: 2px solid black;
    background-color: lightseagreen;

}

/* 9. pont */

.flex-box {
    display: flex;
    background-color: lightslategray;
}

.flex-box>:first-child {
    color: blue;
}

.flex-box>:nth-child(2){
    color: yellow;
}

#leftDiv {
    color:red;
}

#rightDiv {
    color:green;
}

