<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Hiba</title>
</head>
<body id="body-style">
    
    <main>
        <div class="box-bg-dark box-textbox" >
                <p id="error"><%= error %></p>
                <a href="/"><img src="home.png" id="homeimg"></a>
        </div>
    </main>
    


</body>
</html>