<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Új felhasználó</title>
</head>
<body id="body-style">
    
    <main>
        <div class="navbar">
            <div class="profile">
                <img src="profile_icon.png" class="leftside">
                <a>
                    <% if (typeof tokenObject !== 'undefined') { %>
                    <%= tokenObject.username %>
                    <% } else { %>
                    vendég!
                    <% } %>
                </a>
                <% if (typeof tokenObject !== 'undefined') { %>
                    <form action="/auth/logout" method="post" class="rightside">
                        <button type="submit" class="downside"><img id="logoutpic" src="logout.png"></button>
                    </form>
                    <% } else { %>
                    <form action="/auth/login" method="get" class="rightside">
                        <button type="submit" class="downside"><img id="loginpic" src="login.png"></button>
                    </form>
                    <% } %>
            </div>
            

            <a class="active" href="/">Főoldal</a>
            <a href="/classjoinleave">Csatlakozás</a>
            <a href="/ujtargy">Új tárgy</a>
            <a href="/dashboard">Control panel</a>
            

        </div>

        <div class="box-bg-dark box-textbox" >
            <h3>Új tanár bevezetése</h3>
            <form id="form-centered" method="POST" action="/ujfelhasznalo" >
                <label>Felhasználó név:</label>
                <input type="text" name="usernamenew" required> <br>
                <label>Jelszó:</label>
                <input type="password" name="passwordnew" required> <br>
                <br>
                <input type="submit" value="Leccgo!">
                <br>
            </form>
        </div>

        
    </main>

    
    <footer>
        <p>@ Vén Gergő-Tivadar</p>
    </footer>
    

    
</body>
</html>